# volumes-container
airflowdb/
broker/
cache/
data/
db/
engine/
inbound/
lake/
lakehouse/
warehouse/

# rust
build/
dist/
temp/

# node.js
node_packages/
node_modules/

# python
__pycache__/

# local-environment
.env
env/
venv
.venv/